.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rbc-day-bg {
    border: 1px solid #4285F4 !important; /* Change to your preferred color */
}

.rbc-day-bg:hover {
    background-color: red !important; /* Change to your preferred color */
}

/* Change border color for the current day */
.rbc-today {
    background-color: rgba(66, 133, 244, 0.1) !important; /* Light blue background */
    border: 2px solid #4285F4 !important;
  }
  
  /* Change border color of event container */
  /* .rbc-event {
    border: 1px solid #34A853 !important; 
    border-radius: 4px;
  } */
  
  /* Customize time grid lines */
  /* .rbc-time-content > * + * > * {
    border-top: 1px dashed #FF5733 !important; 
  } */

  .gradient-bg {
    background: conic-gradient(from 3.1416rad at 50% 50%, #64E6A5, #F7F7F7, #64E6A5);
    /* background: rgb(247,247,247); */
    /* background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(100,230,165,1) 38%, rgba(114,233,174,1) 100%);  */
  }